html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("../img/m5.jpg")no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-nav-collapse {
    background-color: #24355C;
  }
  @media (max-width: 768px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }
  @media (min-width: 800px) and (max-width: 850px) {
    .navbar:not(.top-nav-collapse) {
      background-color: #24355C;
    }
  }

  .bg-motel{
    background-color:#f2eabc;
  }

  .nav{
    position: fixed;
  }

  .footer{
    position: fixed;
  }

  iframe{
    max-width: 100%;
 height: 400px;
  }