<footer class="page-footer font-small unique-color-dark">
    <div class="danger-color-dark">
        <div class="container">
            <div class="row py-4 d-flex align-items-center">
                <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-0">
                    <h6 class="mb-0 white-text">Contactanos</h6>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5 mb-4 text-center text-md-left">
        <div class="row mt-3">

        </div>
    </div>
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="#"> SysJEM.com</a>
    </div>
</footer>

<script type="text/javascript" src="/js/jquery.min.js"></script>
<script type="text/javascript" src="/js/popper.js"></script>
<script type="text/javascript" src="/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/mdb.js"></script>
<script type="text/javascript" src="/js/main.js"></script>