<nav class="navbar navbar-expand-lg navbar-dark danger-color-dark">
    <a class="navbar-brand text-light" href="/">Inicio</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link text-light" href="/cadena">Cadena de valor</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-light" href="/procesos">Procesos de Negocio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/recursos">Recursos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" href="/mejoras">Mejoras</a>
          </li>
      </ul>
    </div>
  </nav>
